@media only screen and ((min-width: 768px) and (max-width: 1024px)) {
  #searchbar {
   display: none;
  }
}


@media only screen and ((min-width: 820px) and (max-width: 1180px)) {
  #searchbar {
   display: inline-flex;
   padding-right: 180px;
  }
}