@media screen and (max-width: 320px) {
    #spacer, #vermas {
        display: none;
    }
    #madrid, #barcelona, #ciudades {
        display: flex;
        justify-content: center;
    }
    #Footer {
        margin-top: 25px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    #spacer, #vermas {
        display: none;
    }
    #madrid, #barcelona, #ciudades {
        display: flex;
        justify-content: center;
    }
    #Footer {
        margin-top: 25px;
    }
}
